@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@layer base{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
  }
}

@layer components{}

@layer utilities{}